/* Dashboard */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 430px;
  margin: 0 0 20px 50px;
}

.car-color {
  width: 55px;
  height: 45px;
  margin-right: 10px;
}

.input__row {
  outline: none;
  background: transparent;
  border-radius: 3px;
  border: solid 2px #9a9a9a;
  height: 40px;
  padding: 0 10px 0 10px;
  font-size: 16px;
  font-weight: 400px;
  color: #fff;
  margin: 5px 10px 5px 0;
  width: 210px;
}

.input__row::-webkit-input-placeholder {
  color: #9a9a9a;
  font-size: 16px;
  font-weight: 400;
}

.input__row:-ms-input-placeholder {
  color: #9a9a9a;
  font-size: 16px;
  font-weight: 400;
}

.input__row::-ms-input-placeholder {
  color: #9a9a9a;
  font-size: 16px;
  font-weight: 400;
}

.input__row::placeholder {
  color: #9a9a9a;
  font-size: 16px;
  font-weight: 400;
}

.btn_secondary {
  padding: 15px 20px;
  border: 2px solid #f4f4f4;
  border-radius: 3px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #646464;
  border-color: #f4f4f4;
  margin-right: 10px;
}

.btn_secondary:hover {
  color: #fe2232;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.disabled {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}

.disabled:hover {
  cursor: default;
}
