/* WINNERS TITLE */
.title {
  font-family: 'Lato', sans-serif;
  font-size: 32px;
  font-weight: 900;
  letter-spacing: 1px;
  color: #fff;
  margin: 0 10px 0 50px;
}
.title span,
.subtitle span {
  margin-left: 10px;
}
.subtitle {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 1px;
  color: #fff;
  margin: 20px 10px 30px 50px;
}

/* Score table */
.main {
  margin-left: 50px;
}
.table {
	max-width: 600px;
	border: none;
}
.table thead th {
	font-weight: bold;
	text-align: center;
	border: none;
	padding: 10px 15px;
	background: #fff;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
  font-size: 20px;
  font-weight: 700;
  color: #9a9a9a;
}
.table tbody td {
	text-align: center;
	padding: 10px 15px;
	vertical-align: top;
  color: #fff;
  font-size: 20px;
}
.table thead tr th:first-child, .table tbody tr td:first-child {
	border-left: none;
}
.table thead tr th:last-child, .table tbody tr td:last-child {
	border-right: none;
}
.table tbody tr:nth-child(even) {
	background: #404040;
}
.table tbody tr:nth-child(odd) {
	background: #4d4d4d;
}
.car-td {
  position: relative;
}
.car-img {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
/* SORTED */
.wins-btn {
  cursor: pointer;
}
.time-btn {
  cursor: pointer;
}
.arrow-up::after {
  content: '\1F815';
}
.arrow-down::after {
  content: '\1F817';
}